.newsletter{
	background-color: white;
    margin-bottom: 0;
}

.newsletter .container {
	margin-top: 100px;
	margin-bottom: 100px;
}

.check {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 16px;
	color: #353432;
	font-family: "Darker Grotesque", sans-serif;

}
@media only screen and (max-width: 600px) {
	button {
		margin-top: 10px;
		width: 300px;
	}

	.suscribe {
		text-align: center;
	}

	.check {
		margin-top: 20px;
		text-align: left;
		padding-left: 30px;
		padding-right: 30px;
	}
}