.section2 {
	background-image: url(/images/lamparas.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color: white;
	margin-bottom: 0;
}

.section2 .container{
	margin-top: 300px;
	margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
	
    .section2 .container {
    	text-align: center;
    	padding-left: 20px;
    }
}