.section4 {
	background-color: #EFEFEF;
	color: white;
	margin-bottom: 0;
}

.ambiente{
	background-image: url(/images/section4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	text-align: left;
}

.ambiente div{
	margin-top: 450px;
}

.sub-ambiente{
	margin-left: 20px;
}
.btn-ambiente{
	border-color: transparent;
	padding-left: 0;
}
.section4 img{
	padding-left: 20px;
}

.division{
	height: 20px;
}

.btn-ambiente2{
  	display: none;
}

@media only screen and (max-width: 600px) {
  .ambiente{
  	text-align: center;
  }

  .btn-ambiente{
  	display: none;
  }

  .btn-ambiente2{
  	display: block;
  	margin-top: 50px;
  	color: black;
  	border-color: black;
  }

  .btn-am2{
  	margin: auto auto;
  }

  .sub-ambiente{
  	padding-bottom: 50px;
  }

  .ambiente div{
	margin-top: 316px;
  }

  .section4 img{
	/*padding-left: 20px;*/
	width: 160px;
  }

  .images1 {
  	margin-top: 30px;
  }
}