.link-sub{
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Darker Grotesque";
	font-weight: 300;
}

.subBar{
	background-color: transparent;
	border-color: transparent;
}