.section7 {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	color: white;
	margin-bottom: 0;
}

.section7 .container{
	margin-top: 100px;
	margin-bottom: 100px;
}

.tendencias {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 69px;
	color: #ffffff;
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
	text-align: center;
}

.tendencias2 {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 32px;
	color: #ffffff;
	font-family: "Darker Grotesque", sans-serif;
}

.imagen {
	display: none;
}
@media only screen and (max-width: 600px) {
	 .tendencias, .tendencias2{
		text-align: center;
	}

	.section7 .container{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.imagen {
		display: block;
		padding: 0 0;
		margin-top: -35px;
	}

	.imagen2 {
		display: none;
	}
}