.section5 {
	background-color: black;
	color: white;
	margin-bottom: 0;
}

.section5 .container{
	margin-top: 100px;
	margin-bottom: 100px;
}

.images{
	margin-bottom: 100px;
	justify-content: center;
}

.images img {
	margin-left: 10px;
    margin-right: 10px;
  	filter: drop-shadow(0px 14px 14.5px rgba(69,69,68,0.35));
}

.imagen-estilo, .botones-grupo2{
		display: none;
}

@media only screen and (max-width: 600px) {
	.imagen-estilo, .botones-grupo{
		display: none;
	}
	.botones-grupo2{
		display: block;
		margin-top: 50px;
	}

	.imagen-estilo2{
		display: block;
	}

}