.main-link{
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 23px;
	color: #ffffff;
	font-family: "Darker Grotesque";
	font-weight: 300;
	transition: all 0.7s;
}

.main-link:hover{
	color: grey;
}

.navBar{
	background-color: transparent;
	border-color: transparent;
	border-bottom: solid;
	border-color: white;
}

i{
	color: white;
	transition: all 1s;
}

i:hover{
	color: grey;
}

.navbar-toggler{
	width: 50px;
}

.menu {
	border-color: transparent;
}

.menu2 {
	display: none;
}

@media only screen and (max-width: 1100px) {
	.logo  {
		width: 130px;
	}

	.menu2 {
		display: block;
	}	
}