.section6 {
	background-color: white;
	color: black;
	margin-bottom: 0;
}

.section6 .container{
	margin-top: 100px;
	margin-bottom: 100px;
}

.images{
	margin-bottom: 100px;
	justify-content: center;
}

.images img {
	margin-left: 10px;
    margin-right: 10px;
  	filter: drop-shadow(0px 14px 14.5px rgba(69,69,68,0.35));
}

.text {
	width: 408px;
	height: 444px;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 28px;
	color: #000000;
	font-family: "Darker Grotesque", sans-serif;
}

.bold {
	font-weight: bold;
}

.slider {
	display: none;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

@media only screen and (max-width: 600px) {

	.text {
		text-align: center;
		
		
		margin: auto auto;
		margin-top: 50px;
	}

	.section6 .container {
		margin-bottom: 220px;
    }

    .slider {
    	display: block;
    	margin-bottom: 50px;
    }

    .carousel-inner {
    	margin: 0 0;
    	padding: 0 70px;
    }

    .images {
    	display: none;
    }
}