.section8 {
	background-image: url(section8.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
    margin-bottom: 0;
    color: white;
}

.section8 .container{
	margin-top: 300px;
	margin-bottom: 30px;
}
.section8 button {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
}

.show {
	text-align: center;
		justify-content: center;
	}

@media only screen and (max-width: 600px) {
	.section8 button {
		width: 300px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.section8 .container{
		margin-top: 150px;

	}

	.show {
		
		flex-wrap: wrap-reverse;
	}
}