.footer {
	background-color: black;
	margin-bottom: 0px;
}

.footer .container {
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

hr {
	background-color: white;
}

.footer a {
	color: white;
	transition: all 0.7s;
}

.footer a:hover {
  color: #F8F32B;
  text-decoration: none;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 32px;
	
	font-family: "Darker Grotesque", sans-serif;
}

.line-footer2{
	display: none;
}
@media only screen and (max-width: 600px) {
	.contact, .company, .terms, .line-footer {
		display: none;
	}

	.follow, .copyright {
		text-align: center;
	}

	.foot {
		flex-wrap: wrap-reverse;
		text-align: center;
	}

	.line-footer2{
		display: block;
	}

	.follow, .image{
		margin-bottom: 20px;
	}
}