.App {
  text-align: center;
}

hr {
	background-color: #ffffff;
}

.email{
	border-color: transparent;
	border-bottom-color: black;
}

.btn-outline-light, .btn.btn-dark {
  border-radius: 0;
}
.section1 {
	margin-top: -200px;
	background-image: url(/images/sala1.png);
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-color: lightgrey;
    margin-bottom: 0;
	/*height: 708px;*/
}

.section1 .container {
	margin-bottom: 200px;
}

.banner {
	font-size: 80px;
	letter-spacing: 2px;
	line-height: 87px;
	color: #000000;
	font-family: 'Noto Serif JP', serif;
	font-weight: 300;
	text-align: center;
}

.botones {
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 7px;
	font-family: 'Darker Grotesque', sans-serif;
}

.lampara, .tapete, .escandinavo, .showroom{
	font-size: 57px;
	letter-spacing: 3px;
	line-height: 97px;
	font-family: 'Noto Serif JP', serif;
	font-weight: 250;
}

.estilo {
	font-size: 30px;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 69px;
	color: #ffffff;
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
	text-align: center;
}

.titulo-ambiente{
	font-size: 43px;
	letter-spacing: 1px;
	line-height: 7px;
	color: #ffffff;
	font-family: "Noto Serif JP", serif;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.lampara, .tapete, .escandinavo, .showroom{
		font-size: 40px;
    }

    .banner {
    	font-size: 50px;
    }
    .section1 .container, .section2 .container {
    	text-align: center;
    }

    
}