.section3 {
	background-image: url(/images/tapete.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	color: white;
	margin-bottom: 0;
}

.section3 .container{
	margin-top: 100px;
	margin-bottom: 100px;
}